@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #FF8A62;
  --link-color: #92929D;
  --secondary-color: #364670;
}

.active{
  color: var(--primary-color);
}
